body {
  font-family: "Arial";
}

#vorschaufoto {
	margin: 200px auto;
    text-align: center;
	background: url(../images/Logo.png);
	width: 800px;
	height: 400px;
}

.rect {
	border: 2px solid;
	border-color: #777;
    border-radius: 25px;
    overflow: hidden;
}

#main {
	width: 600px;
	height: 300px;
	margin: auto;

}

#logo {
    background: url(../images/Logo_rotesM_s.png);
    width: 200px;
    height: 100px;
    margin-left: 200px auto;
    background-size:contain;
}

.gallerypic {
    width: 300px;
    height: 300px;
}

.css-slideshow{
   position: relative;
   max-width: 495px;
   height: 370px;
   margin: 5em auto .5em auto;
}

.jssora12l,
.jssora12r,
.jssora12ldn,
.jssora12rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a12.png) no-repeat;
    overflow: hidden;

}

.jssora12l {
    background-position: -16px -37px;
}

.jssora12r {
    background-position: -75px -37px;
}

.jssora12l:hover {
    background-position: -136px -37px;
}

.jssora12r:hover {
    background-position: -195px -37px;
}

.jssora12ldn {
    background-position: -256px -37px;
}

.jssora12rdn {
    background-position: -315px -37px;
}

.jssorb05 div,
.jssorb05 div:hover,
.jssorb05 .av {
    background: url(../img/b05.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div {
    background-position: -7px -7px;
}
.jssorb05 div:hover,
.jssorb05 .av:hover {
    background-position: -37px -7px;
}
.jssorb05 .av {
    background-position: -67px -7px;
}
.jssorb05 .dn,
.jssorb05 .dn:hover {
    background-position: -97px -7px;
}

.jssora12l,
.jssora12r,
.jssora12ldn,
.jssora12rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a12.png) no-repeat;
    overflow: hidden;
}
.jssora12l {
    background-position: -16px -37px;
}
.jssora12r {
    background-position: -75px -37px;
}
.jssora12l:hover {
    background-position: -136px -37px;
}
.jssora12r:hover {
    background-position: -195px -37px;
}
.jssora12ldn {
    background-position: -256px -37px;
}
.jssora12rdn {
    background-position: -315px -37px;
}

#maingroup {
    float: left;
    margin: auto;
}
/*.text-images {
	padding: 50px;
}

.weather-icon {

}

.weather-icon-thunderstorm {
	background-position: -400px -240px;
}

.widget-text {
	float: left;
	padding-left: 20px;
}

.widget-name {
	color: #fff;
	font-size: 36px;
	margin: 0;
}

.widget-description {
	color: #fff;
	font-size: 18;
	margin: 0;
}

.widget-caption {
	color: #fff;
	font-size: 12px;
	margin: 0;
}*/