body {
  font-family: "Arial";
}

#vorschaufoto {
	margin: 200px auto;
    text-align: center;
	background: url(../images/Logo.png);
	width: 800px;
	height: 400px;
}

.rect {
	border: 2px solid;
	border-color: #777;
    border-radius: 25px;
    overflow: hidden;
}

#main {
	width: 600px;
	height: 400px;
	margin: auto;
    background-color: #DDD;
}

#description {
    background-color: #777;
    opacity: 0.4;
    border-bottom: 1px;
    border-color: #444;
    padding: 5px 30px 5px 30px;
}

#logo {
    background: url(../images/Logo_rotesM_s.png);
    width: 200px;
    height: 100px;
    margin-left: 200px auto;
    background-size:contain;
}


#maingroup {
    float: left;
    margin: auto;
}

#login_input {
	margin-top: 100px;
	position: relative;
}

#button_group {
	margin-top: 10px;
}

#newContent, #newContent2 {
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 20px;
}

#newInput {
	height: 300px;
}

/*.text-images {
	padding: 50px;
}

.weather-icon {

}

.weather-icon-thunderstorm {
	background-position: -400px -240px;
}

.widget-text {
	float: left;
	padding-left: 20px;
}

.widget-name {
	color: #fff;
	font-size: 36px;
	margin: 0;
}

.widget-description {
	color: #fff;
	font-size: 18;
	margin: 0;
}

.widget-caption {
	color: #fff;
	font-size: 12px;
	margin: 0;
}*/